{# src/Nurun/RhBundle/Resources/views/ConseillerMandat/delete.html.twig #}

{% extends "NurunRhBundle::layout.html.twig" %}

{% block title %}
  Supprimer un congé - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Supprimer un congé</h2>

  <p>
    Etes-vous certain de vouloir supprimer le congé de "{{ affectation.conseiller.nom }} " ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('nurun_affectation_delete_conge', {'id': affectation.id}) }}" method="post">
    <a href="{{ path('nurun_affectation_view', {'id': affectation.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'affectation
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}