{# src/Nurun/RhBundle/Resources/view/ConseillerMandat/email.html.twig #}

<h1> {{ action }} d'affectation<br>
<h3>{{ affectation.conseiller.prenom }} {{ affectation.conseiller.nom }}
    sur {{ affectation.mandat.client.acronyme|capitalize }}
    -{{ affectation.mandat.identifiant }}
</h3>
<hr>
<ul>
    <li>Identifiant de l'affectation : <a href="{{ url('nurun_affectation_view', {'id': affectation.id}) }}" title="Allez à l'affectation">{{ affectation.identifiantMandat }}</a>
    <li>Description du mandat : {{ affectation.mandat.titre }}</li>
    <li>Statut de l'affectation : {{ affectation.statutAffectation }}</li>
    <li>Pourcentage d'affectation : {{ affectation.pourcentage }}%</li>
    <li>Date de début d'affectation : {{ affectation.dateDebut | date('Y-m-d') }}</li>
    <li>Date de fin d'affectation : {{ affectation.dateFin | date('Y-m-d') }}</li>
    <li>Commentaire : {{ affectation.commentaire }}</li>
    <li>Type d'employé : {{ affectation.conseiller.statut.description }}</li>
</ul>
<hr>
{% if user is defined %}
    Auteur : <a href="mailto:{{ user.email }}">{{ user.username }}</a>
{% else %}
    Archivé automatiquement.
{% endif %}
