{# src/Nurun/RhBundle/Resources/views/Diplome/delete.html.twig #}

{% extends "NurunRhBundle::layout.html.twig" %}

{% block title %}
  Supprimer un diplôme - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Supprimer un diplôme</h2>

  <p>
    Etes-vous certain de vouloir supprimer le diplôme "{{ diplome.description }}" ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('nurun_diplome_delete', {'id': diplome.id}) }}" method="post">
    <a href="{{ path('nurun_diplome_view', {'id': diplome.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour au diplôme
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}