{# src/Nurun/RHBundle/Resources/view/Mandat/addMandatAffectations.html.twig #}

{% extends "NurunRhBundle::layout.html.twig" %}

{% block title %}
  {{ parent () }} - Rattacher une adresse
{% endblock %}

{% block rh_body %}
  <div class="row zone-titre">
    <div class="col-sm-12">
        <h2 class="titre-page">Rattacher les adresses du mandat <br>{{ mandat.client.acronyme }}-{{ mandat.identifiant }}</h2>
          <a href="{{ path('nurun_mandat_view', {'id': mandat.id}) }}" class="btn btn-primary">
            Retour au mandat
          </a>
      <div id="message">
        <!-- Pour pour écrire des notifications -->
      </div>
    </div>
  </div>

  {% include("@NurunRh/Mandat/tableAdresses.html.twig") %}

{% endblock %}

{% block javascriptsPage %}
  {% include "::webjs/jquery.dataTables.html.twig" %}
  <script src="{{ asset('js/data-tables/dataTables.responsive.min.js') }}"></script>
  <script src="{{ asset('js/data-tables/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ asset('js/table.js') }}"></script>
{% endblock %}