{# src/Nurun/RhBundle/Resources/views/SourceAffectation/delete.html.twig #}

{% extends "NurunRhBundle::layout.html.twig" %}

{% block title %}
  Supprimer une source d'affectation - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Supprimer une source d'affectation</h2>

  <p>
    Etes-vous certain de vouloir supprimer la source d'affectation "{{ priorite.priorite }}" ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('nurun_sourceAffectation_delete', {'id': source.id}) }}" method="post">
    <a href="{{ path('nurun_sourceAffectation_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}