{# src/Nurun/RhBundle/Resources/views/Conseiller/index.html.twig #}

{% extends "NurunRhBundle::layout.html.twig" %}

  {% block stylesheets %}
      {# On charge le CSS de bootstrap depuis le site directement #}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link href="{{ asset('css/jquery-ui.css') }}" rel="stylesheet" />
      <link href="{{ asset('css/jquery-ui.theme.css') }}" rel="stylesheet" />
      <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
      <link rel="stylesheet" href="{{ asset('css/data-tables/jquery.dataTables.css') }}" />
      <link rel="stylesheet" href="{{ asset('css/data-tables/responsive.dataTables.css') }}" />
      <link rel="stylesheet" href="{{ asset('css/data-tables/responsive.bootstrap.css') }}" />
      <link rel="stylesheet" href="{{ asset('css/data-tables/dataTables.bootstrap.css') }}" />
      <link rel="stylesheet" href="{{ asset('css/selectric.css') }}" />
      <link rel="stylesheet" href="{{ asset('css/metisMenu.min.css') }}" />
      <link rel="stylesheet" href="{{ asset('css/metisMenu.min.css') }}" />
      <link rel="stylesheet" href="{{ asset('bundles/nurunrh/css/carte.css') }}" />
      <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">

      <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/excanvas.min.js"></script>
      <![endif]-->

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      <style type="text/css">
        .content-site {
            padding:0;
        }
          .container.block-card{
              width: 100%;
          }
      </style>
  {% endblock %}

{% block javascriptsPages %}
    <script>
        window.temp_carteData = {{ locations|json_encode()|raw }};
    </script>
    <script src="{{ asset('bundles/nurunrh/js/cartes.js') }}"></script>
{% endblock %}

{% block rh_body %}
    <div class="container block-card">
        <div class="row">
            <div class="col-sm-4 default-box-shadow" style="z-index:2;">
                <div class="card carte-legend">
                    <div class="card-block">
                        <h4 class="card-title"><span>Mandats de&nbsp;Nurun</span></h4>
                    </div>
                </div>
                <div class="card carte-mandats" style="z-index:1;">
                    <div class="card-block">
                    </div>
                </div>
            </div>
            <div class="col-sm-8 hidden-xs hidden-xs-down">
                <div id="map" class="carte"></div>
            </div>
        </div>
    </div>

    <script>
        $(document).on('ready', function(){
            ajusterCarte();
        });
        $(window).on('resize', function(){
            ajusterCarte();
        });

        function ajusterCarte(){
            var offset, width, height, contentHeight;
            offset = $(".navbar-header").height()+$("footer").height();
            width = $(window).width();
            height = $(window).height();
            contentHeight = height-offset;

            $(".block-card").css("height", (contentHeight-10) + "px");
        }
    </script>

{% endblock %}