{# src/Nurun/RhBundle/Resources/views/Conseiller/tableFonctions.html.twig #}

<table id="listFonctions" class="display nowrap" cellspacing="0" width="100%">
    <thead>
      	<tr>
	        <th>Nom</th>
	        <th>Description</th>
	        <th></th>
      	</tr>
    </thead>

    {% if fonctionList|length > 0 %}
      	<tbody>
      	{% for fonction in fonctionList %}
        	{% set found = 0 %}
        	{% if fonction.conseillerFonctions|length > 0 %}
          		{% for conseillerFonction in fonction.conseillerFonctions %}
            		{% if conseillerFonction.conseiller is not null %}
              			{% if conseillerFonction.conseiller == conseiller %}
                			{% set found = 1 %}
              			{% endif %}
            		{% endif %}
          		{% endfor %}
        	{% endif %}

        	<tr>
          		<td>
                <a data-toggle="modal" data-target="#fonction_permissions" title="Voir les permissions">{{ fonction.name }}</a>
              </td>
          		<td>{{ fonction.description }}</td>
          		<td>
              		{% if found == 0 %}
                		<a data-toggle="tooltip" title="Ajouter la fonction" class="bt-table" style="color:green" urlOption="{{ fonction.id }}"><span class="glyphicon glyphicon-plus"></span></a>
              		{% else %}
                		<a data-toggle="tooltip" title="Retirer la fonction" class="bt-table" style="color:red" urlOption="{{ fonction.id }}"><span class="glyphicon glyphicon-minus"></span></a>
              		{% endif %}
          		</td>
        	</tr>

          <div class="modal fade" id="fonction_permissions" tabindex="-1" role="dialog" aria-labelledby="Voir les permissions">
            <div class="modal-dialog modal-md" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Liste des permissions de la fonction</h4>
                </div>
                <div class="modal-body">
                  <ul>
                    {% if fonction.fonctionPermissions|length > 0 %}
                      {% for fonctionPermission in fonction.fonctionPermissions %}
                        {% if fonctionPermission.permission is not null %}
                          <li>{{ fonctionPermission.permission.name }}</li>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>

      	{% endfor %}
     	</tbody>
    {% endif %}
</table>

<script>
  	$(".glyphicon").parent().click(function ()
  	{
    	if($(this).find('span').attr('class') == "glyphicon glyphicon-plus"){
      		var fonctionId = $(this).attr("urlOption");
      		var url = "{{ path('nurun_conseiller_fonction_add', {'conseillerId': conseiller.id, 'fonctionId': 'fonctionId' }) }}";
      		url = url.replace("fonctionId", fonctionId);

      		$.ajax({
            	url: url,
            	type: "POST",
            	success: function() { 
            	},

            	error: function(XMLHttpRequest, textStatus, errorThrown)
            	{
              		alert('Error: ' +  errorThrown);
            	}
        	});
	      	$(this).find('span').removeClass('glyphicon-plus');
	      	$(this).find('span').addClass('glyphicon-minus');
	      	$(this).css('color', 'red');

          $("#message").html("Fonction ajoutée");
          $("#message").css('color', 'green');
    	}
    	else if($(this).find('span').attr('class') == "glyphicon glyphicon-minus"){
      		var fonctionId = $(this).attr("urlOption");
      		var url = "{{ path('nurun_conseiller_fonction_remove', {'conseillerId': conseiller.id, 'fonctionId': 'fonctionId' }) }}";
      		url = url.replace("fonctionId", fonctionId);

      		$.ajax({
            	url: url,
            	type: "POST",
            	success: function() { 
            	},

            	error: function(XMLHttpRequest, textStatus, errorThrown)
            	{
              		alert('Error: ' +  errorThrown);
            	}
        	});
	      	$(this).find('span').removeClass('glyphicon-minus');
	      	$(this).find('span').addClass('glyphicon-plus');
	      	$(this).css('color', 'green');
          
          $("#message").html("Fonction retirée");
          $("#message").css('color', 'red');
    	}
  	});
</script>