{# src/Nurun/SystemBundle/Resources/view/Admin/actions.html.twig #}

{% extends "NurunRhBundle::layout.html.twig" %}

{% block title %}
    {{ parent () }} - Gestion des actions
{% endblock %}

{% block rh_body %}
    <div class="row zone-titre">
        <h2 class="titre-page">Gestion des actions</h2>

        {% if is_granted('ROLE_ROOT') %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ajouter_action">
                <i class="glyphicon glyphicon-plus"></i>
                Ajouter une action
            </button>
        {% endif %}
    </div>

    <table id="actionList" class="display nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Rôle requis</th>
                <th></th>
            </tr>
        </thead>

        {% if actionList|length > 0 %}
            <tbody>
                {% for action in actionList %}
                    <tr>
                        <td>{{ action.name }}</td>
                        <td>{{ action.description }}</td>
                        <td>{{ action.role }}</td>
                        <td>
                            <a href="{{ path('nurun_admin_action_edit', {'actionId':  action.id} ) }}"  data-toggle="tooltip"  class="bt-table"  title="modifier l'action"><span class="glyphicon glyphicon-edit"></span></a>
                            <a href="#" data-hover="tooltip" role="button" data-toggle="modal" data-toggle="tooltip" class="bt-table" data-target="#supprimer_action{{ action.id }}" title="Supprimer l'action" style="color:red;"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>

                    <div class="modal fade" id="supprimer_action{{ action.id }}" tabindex="-1" role="dialog" aria-labelledby="Supprimer l'action">
                        <div class="modal-dialog modal-md" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Supprimer l'action?</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row" style="padding:10px 15px;">
                                        <div class="col-xs-12">
                                            <a type="button" class="btn btn-primary" href="{{ path('nurun_admin_action_remove', {'actionId':  action.id} ) }}">
                                                Oui
                                            </a>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" style="background-color:red;border-color:red;">
                                                Non
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </tbody>
        {% endif %}
    </table>

    <div class="modal fade" id="ajouter_action" tabindex="-1" role="dialog" aria-labelledby="Ajouter une action">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ajouter une action</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding:10px 30px;">
                        <div class="col-xs-12">
                            {% include "NurunSystemBundle:Admin:actionForm.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascriptsPage %}
  {% include "::webjs/jquery.dataTables.html.twig" %}
  <script src="{{ asset('js/data-tables/dataTables.responsive.min.js') }}"></script>
  <script src="{{ asset('js/data-tables/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ asset('js/table.js') }}"></script>
{% endblock %}