{# src/Nurun/SystemBundle/Resources/view/Admin/editStatutAffectation.html.twig #}

{% extends "NurunRhBundle::layout.html.twig" %}

{% block title %}
    {{ parent () }} - Édition du statut d'affectation
{% endblock %}

{% block rh_body %}
    <div class="row zone-titre">
        <h2 class="titre-page">Modifier le statut d'affectation<br>{{ statutAffectation.description }}</h2>
    </div>

    <div class="col-xs-6">
        {% include "NurunSystemBundle:Admin:statutAffectationForm.html.twig" %}
    </div>
{% endblock %}

{% block javascriptsPage %}
  {% include "::webjs/jquery.dataTables.html.twig" %}
  <script src="{{ asset('js/data-tables/dataTables.responsive.min.js') }}"></script>
  <script src="{{ asset('js/data-tables/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ asset('js/table.js') }}"></script>
{% endblock %}