{# src/Nurun/SystemBundle/Resources/view/Admin/languages.html.twig #}

{% extends "NurunRhBundle::layout.html.twig" %}

{% block title %}
    {{ parent () }} - Gestion des langues
{% endblock %}

{% block rh_body %}
    <div class="row zone-titre">
    
        <h2 class="titre-page">Gestion des langues</h2>

        {% if is_granted('ROLE_ROOT') %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ajouter_language">
                <i class="glyphicon glyphicon-plus"></i>
                Ajouter une langue
            </button>
        {% endif %}
    </div>

    <table id="languageList" class="display nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Langue</th>
                <th>Code</th>
                <th></th>
            </tr>
        </thead>

        {% if languageList|length > 0 %}
            <tbody>
                {% for language in languageList %}
                    <tr>
                        <td>{{ language.language }}</td>
                        <td>{{ language.code }}</td>
                        <td>
                            <a href="{{ path('nurun_admin_language_edit', {'languageId':  language.id} ) }}"  data-toggle="tooltip"  class="bt-table"  title="modifier la langue"><span class="glyphicon glyphicon-edit"></span></a>
                            <a href="#" data-hover="tooltip" role="button" data-toggle="modal" data-toggle="tooltip" class="bt-table" data-target="#supprimer_language{{ language.id }}" title="Supprimer la langue" style="color:red;"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>

                    <div class="modal fade" id="supprimer_language{{ language.id }}" tabindex="-1" role="dialog" aria-labelledby="Supprimer la langue">
                        <div class="modal-dialog modal-md" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Supprimer la langue?</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row" style="padding:10px 15px;">
                                        <div class="col-xs-12">
                                            <a type="button" class="btn btn-primary" href="{{ path('nurun_admin_language_remove', {'languageId':  language.id} ) }}">
                                                Oui
                                            </a>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" style="background-color:red;border-color:red;">
                                                Non
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </tbody>
        {% endif %}
    </table>

    <div class="modal fade" id="ajouter_language" tabindex="-1" role="dialog" aria-labelledby="Ajouter une langue">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ajouter une langue</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding:10px 30px;">
                        <div class="col-xs-12">
                            {% include "NurunSystemBundle:Admin:languageForm.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascriptsPage %}
  {% include "::webjs/jquery.dataTables.html.twig" %}
  <script src="{{ asset('js/data-tables/dataTables.responsive.min.js') }}"></script>
  <script src="{{ asset('js/data-tables/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ asset('js/table.js') }}"></script>
{% endblock %}